[Desktop Entry]
Type=Application
Exec=/home/gloves/.config/discord/app-1.0.154/Discord
Hidden=false
NoDisplay=false
Name=Discord
Icon=/home/gloves/.config/discord/app-1.0.154/discord.png
Comment=Text and voice chat for gamers.
X-GNOME-Autostart-enabled=true
