// ────────────── Layout Settings ──────────────
layout {
    gaps 12
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        // Fixed sets the width in logical pixels exactly.
        // fixed 1920
    }

    // You can also customize the heights that "switch-preset-window-height" (Mod+Ctrl+Shift+R) toggles between.
    // preset-window-heights { }

    default-column-width { proportion 0.5; }
    // If you leave the brackets empty, the windows themselves will decide their initial width.
    // default-column-width {}

    focus-ring {
        // off
        on
        width 1
        // How many logical pixels the ring extends out from the windows.
        // Color of the ring on the active monitor.
        // active-color "#7fc8ff"
        // Color of the ring on inactive monitors.
        // inactive-color "#505050"
        // You can also use gradients.
        // active-gradient from="#80c8ff" to="#c7ff7f" angle=45
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    border {
        on
        width 1
        // active-color "#ffc87f"
        // inactive-color "#505050"
        // urgent-color "#9b0000"
        // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    shadow {
        // off
        on
        // By default, the shadow draws only around its window, and not behind it.
        // draw-behind-window true
        softness 30
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000070"
        // You can also change the shadow color and opacity.
        // color "#0007"
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}
