// Noctalia layer rule to disable blur
layer-rule {
    match namespace=r#"^(?i)noctalia"# 
    background-effect {
        blur false
    }
}

// Make top and overlay layers use the regular blur (if enabled),
// while bottom and background layers keep using the efficient xray blur.
layer-rule {
    match layer="top"
    match layer="overlay"

    background-effect {
        xray false
    }
}
