// ────────────── Window Rules ──────────────
// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug by setting an empty default-column-width.
// window-rule {
//     match app-id=r#"^org\.wezfurlong\.wezterm$""
//     default-column-width {}
// }

// Example: block out two password managers from screen capture.
// /-window-rule {
//     match app-id=r#"^org\.keepassxc\.KeePassXC$""
//     match app-id=r#"^org\.gnome\.World\.Secrets$""
//     block-out-from "screen-capture"
//     // Use this instead if you want them visible on third-party screenshot tools.
//     // block-out-from "screencast"
// }

// Example: enable rounded corners for all windows.
// /-window-rule {
//     geometry-corner-radius 12
//     clip-to-geometry true
// }

// Generic decoration
window-rule {
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
    opacity 0.95
    scroll-factor 0.75

    background-effect {
        xray true
        blur true
        noise 0.02
        saturation 3
    }
}

window-rule {
    match app-id=r"firefox$" title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r"^dev\.noctalia\.Noctalia$"
    open-floating true
    default-column-width { fixed 920; }
    default-window-height { fixed 920; }
}

// Float common dialogs / utilities (Hypr float rules)
window-rule {
    match app-id=r"^(pavucontrol|org\.pulseaudio\.pavucontrol|com\.saivert\.pwvucontrol|blueman-manager|nm-applet|nm-connection-editor)$"
    open-floating true
}
window-rule {
    match app-id=r"^(org\.kde\.polkit-kde-authentication-agent-1|mate-polkit)$" title="^Authentication.*$"
    open-floating true
}
window-rule {
    match app-id=r"^qalculate-gtk$" title="^Qalculate.*$"
    open-floating true
}
window-rule {
    match app-id=r"^(mpv|com\.github\.rafostar\.Clapper)$"
    open-floating true
}
window-rule {
    match app-id=r"^(com\.obsproject\.Studio)$"
    open-floating true
}
window-rule {
    match app-id=r"^Bitwarden$"
    open-floating true
}
window-rule {
    match app-id=r"^(org\.cachyos\.KernelManager|mainline-gtk|org\.kde\.kwalletmanager|nvidia-settings|org\.cachyos\.cachyos-pi|com\.shellyorg\.shelly|CachyOSHello|octopi.*|garuda-assistant|com\.github\.hyprmod|com\.github\.wwmm\.easyeffects|nz\.co\.mega\.megasync|io\.github\.amit9838\.mousam|btrfs-assistant|timeshift-gtk|org\.gnome\.Calculator|qalculate-gtk)$"
    open-floating true
}
window-rule {
    match app-id=r"^steam$" title=r"^Steam$"
    open-floating false
}
window-rule {
    match app-id=r"^steam$" 
    open-floating true
}
window-rule {
    match app-id=r"^(gamescope|steam_app_\d+)$"
    open-floating false
}
window-rule {
    match app-id=r"^(thunar)$" 
    open-floating true
}
window-rule {
    match app-id=r"^(Ferdium)$"
    open-floating true
}
window-rule {
    match title=r"^(Authentication Required|Save As|Add Folder to Workspace|Open Files)$"
    open-floating true
}
window-rule {
    match app-id=r"kitty-dropterm"
    open-floating true
}
window-rule {
    match app-id=r"^com\.heroicgameslauncher\.hgl$"
    open-floating true
}
window-rule {
    match title=r"^[Pp]icture-in-[Pp]icture$"
    open-floating true
}

window-rule {
    match app-id="steam" title=r"^notificationtoasts_\d+_desktop$"
    default-floating-position x=4 y=4 relative-to="bottom-right"
    // focus-on-xdg-activate false
}

// Noctalia layer rule to disable blur
layer-rule {
    match namespace=r"^(?i)noctalia" 
    background-effect {
        blur false
    }
}

// Noctalia layer rule to disable blur
layer-rule {
    match namespace="^noctalia-wallpaper$"
    place-within-backdrop false
}

layer-rule {
   match namespace="^noctalia-notification$"
   block-out-from "screencast"
}

// Make top and overlay layers use the regular blur (if enabled),
// while bottom and background layers keep using the efficient xray blur.
layer-rule {
    match layer="top"
    match layer="overlay"

    background-effect {
        xray false
    }
}
