// ────────────── Core Startup Applications ──────────────
spawn-sh-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
spawn-sh-at-startup "systemctl --user import-environment WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface gtk-theme 'adw-gtk3-dark'"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface cursor-theme 'BreezeX-RosePine-Linux'"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface cursor-size 24"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store 2>/dev/null &"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store 2>/dev/null &"
spawn-sh-at-startup "pm2 resurrect 2>/dev/null &"
spawn-sh-at-startup "mkdir -p ~/.config/xdg-desktop-portal && cp /usr/share/xdg-desktop-portal/niri-portals.conf ~/.config/xdg-desktop-portal/niri-portals.conf"
spawn-at-startup "nm-applet"
spawn-at-startup "blueman-applet"
prefer-no-csd

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/%Y-%m-%d-%H-%M-%S.png"

xwayland-satellite {
    path "xwayland-satellite"
}
