/* ---- 💫 https://github.com/LinuxBeginnings 💫 ---- */
/* KoolDots - Global rofi fonts */

/* This is where you can change fonts and sizes */


/*****-- Fonts Size and Font Size -----*****/
configuration {
 font: "FiraCode Nerd Font Mono 13";
// font: "Monocraft 13";
}


/*****-- Elements Font Size -----*****/
element-text {
 font: "FiraCode Nerd Font Mono 11";
// font: "Monocraft 13";
}
