include "modules/00-input.kdl"
include "modules/01-outputs.kdl"
include "modules/02-blur.kdl"
include "modules/03-binds.kdl"
include "modules/04-startup.kdl"
include "modules/05-layout.kdl"
include "modules/06-animations.kdl"
include "modules/07-window-rules.kdl"
include "modules/08-layer-rules.kdl"
include "modules/09-overview.kdl"
include "modules/10-environment.kdl"
include "noctalia.kdl"
