 /* ---- 💫 https://github.com/LinuxBeginnings 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #E799AC;
active-foreground: #E6DAD0;
normal-background: #333543;
normal-foreground: #E6DAD0;
urgent-background: #DEA9B9;
urgent-foreground: #E6DAD0;

alternate-active-background: #BAA0B7;
alternate-active-foreground: #E6DAD0;
alternate-normal-background: #333543;
alternate-normal-foreground: #E6DAD0;
alternate-urgent-background: #333543;
alternate-urgent-foreground: #E6DAD0;

selected-active-background: #DEA9B9;
selected-active-foreground: #E6DAD0;
selected-normal-background: #DEA9B9;
selected-normal-foreground: #E6DAD0;
selected-urgent-background: #DEA9B9;
selected-urgent-foreground: #E6DAD0;

background-color: #333543;
background: rgba(0,0,0,0.7);
foreground: #E6DAD0;
border-color: #E799AC;

color0: #3C3E4F;
color1: #60626A;
color2: #6D6F79;
color3: #8B7F89;
color4: #9E7C85;
color5: #9A838A;
color6: #8E8993;
color7: #E6DAD0;
color8: #535567;
color9: #7D8190;
color10: #9699AA;
color11: #BAA0B7;
color12: #E799AC;
color13: #DEA9B9;
color14: #C1B6CD;
color15: #E6DAD0;


}

